html,
body {
	height: 100%;
}

body {
	background-color: #F1F1F1;
	color: #333;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
	margin: 0;	
}

.browser-height-module {
	height: 100%;
}

.truck-module {
	background-image: url('../img/big-truck.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.menu {
	font-size: 24px;
	font-family: cambria;
	text-align: left;
	padding: 10px 50px;
	background-color: #3366FF;
	position: fixed;
	top: 0px;
	width: 100%;
	margin-left: 0;
}

.menu nav {
	float: left;
}

#nav-left {
	float: left;
	margin-left: 50px;
}

#nav-right {
	float: right;
	margin-right: 50px;
}

#truck-icon {
	width: 5%;
}

nav a{
	color: #333;
	font-size: 16px;
	padding: 8px;
}

nav a:hover {
	background-color: white;
	color: #3366FF;
	cursor: pointer;
}

a:link {
	text-decoration: none;
}

.top-module {
	width: 48%;
	margin: 1%;
}

#column-one-top {
	float: left;
	clear: left;
	margin-top: 35px;
	width: 330px;
}

#column-two-top {
	float: right;
	clear: right;
}

#column-two-box {
	width: 42%;
	border: 5px solid #3366FF;
	padding: 10px;
	float: right;
	margin-right: 100px;
	margin-top: 150px;
	background-color: grey;
}

button {
	padding: 0;
}

#big-truck-text {
	font-size: 50px;
	font-weight: bold;
	margin-top: 50px;
}

#h-center {
	text-align: center;
}

.middle-module {
	margin-top: 35px;
}

.columns-mid {
	width: 21%;
	margin: 2%;
	text-align: justify;
}

#column-one-mid {
	float: left;
	clear: left;
}

#column-two-mid {
	float: left;
	clear: right;
}

#four-photos {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.many-trucks-module {
	background-image: url('../img/many-trucks.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

#many-trucks-text {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 10px;
}

#footer {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px; 
	background-color: #3366FF;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

.clearfix {
	clear: both;
}
